{{!-- Widget to display the about info --}}
<section class="widget widget-text">
	<h2 class="widget-title">{{t "About"}}</h2>
	<p>{{{t "Blogging about Azure Governance, Serverless and DevOps. Missing something or just want to chat? Let me know! :)"}}}</p>
</section><!-- .widget -->
