{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The tag below includes the theme header - partials/header.hbs --}}
{{> header}}

{{!-- The content area on the blog page --}}
<div id="content" class="site-content">
	<main id="main" class="site-main outer">

		{{!-- The tag below includes the post loop - partials/loop.hbs --}}
		{{> "loop"}}

		{{!-- The tag below includes the newsletter subscription section - partials/newsletter-box.hbs --}}
		{{> "newsletter-box"}}
	<a class="twitter-timeline" href="https://twitter.com/whaakman?ref_src=twsrc%5Etfw">Tweets by whaakman</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</main><!-- .site-main -->

</div><!-- .site-content -->

